@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Varela+Round:400,700');

$primary-font:'Varela Round', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

body, h1, h2, h3, p, input {
  margin: 0;
  font-weight: 400;
  font-family: $primary-font;
  color: #34302d;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-family: $secondary-font;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: $secondary-font;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}


strong {
  font-weight: 700;
  font-family: $secondary-font;
}
